.home{
    background-color: #fbfbfb;
    min-height: 90vh;

    .firstPage{
        position: relative;
        display: flex;
        justify-content: center;
        min-height: 90vh;
    }
    .leftBannerImg{
        position: absolute;
        top: 20%;
        left: 15%;
        width: 20%;
        height: fit-content;
        border-radius: 50%;
        filter: drop-shadow(2rem 2rem 2.5rem rgba(0, 0, 0, 0.15));
    }
    .rightHeading{
        position: absolute;
        right: 13%;
        top: 14%;
        width: 40%;
        .typedHeading{
            font-size: 4vw;
            font-weight: bolder;
            letter-spacing: 1px;
            color: #3a3a3a;
        }
        .typed-text {
            font-size: 2vw;
            font-weight: bolder;
            width: 100%;
        }
        .typed-string {
            color: #800080;
        }
        .typed-paragraph {
            line-height: 1.4;
            color: #1d1d1d;
            cursor: pointer;
        }
    }
    .secondPage{
        min-height: 90vh;
        position: relative;
        background-color: #fbfbfb;
        .techTalentImg{
            height: fit-content;
            filter: drop-shadow(2rem 2rem 2.5rem rgba(0, 116, 228, 0.15));
        }
        .heading {
            font-size: 52px;
            font-weight: 700;
        }
        .text-gradient {
            background: linear-gradient(90deg, #0074E4 0%, #00A5E0 100%);
            background-size: cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    
    .thirdPage{
        min-height: 90vh;
        .heading {
            font-size: 52px;
            font-weight: 700;
            text-align: center;
        }

        .dummyCard{
            width: 300px;
            height: 400px;
            background-color: aquamarine;
            border-radius: 12px;
        }
    }

    .fourthPage{
        min-height: 90vh;
        .heading {
            font-size: 52px;
            font-weight: 700;
            text-align: center;
        }
        .text-gradient {
            // background: linear-gradient(120deg, #212529 0%, #212529 30%, #800080 36%, #212529 40%, #212529 100%);
            background: linear-gradient(40deg, #212529 0%, #212529 34%, #800080 42%, #212529 49%, #212529 100%);
            background-size: cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .dummyCard{
            width: 200px;
            height: 270px;
            background-color: aquamarine;
            border-radius: 12px;
        }
    }
      
    .fifthPage {
        min-height: 90vh;
        text-align: center;
        padding: 40px 0;
      
        .heading {
          font-size: 52px;
          font-weight: 700;
        }
      
        .vision-mission {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 40px;
      
          .card {
            flex: 1;
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            text-align: center;
      
            img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              margin-bottom: 20px;
            }
      
            h2 {
              font-size: 24px;
              margin-bottom: 10px;
              color: #333;
            }
      
            p {
              font-size: 16px;
              line-height: 1.5;
              color: #777;
            }
          }
        }
      
        @media (max-width: 768px) {
          .vision-mission {
            flex-direction: column;
            align-items: center;
          }
      
          .card {
            width: 80%;
          }
        }
    }

    @media screen and (min-width: 1600px) {
        .firstPage{
            min-height: 80vh;
        }
        .leftBannerImg{
            top: 20%;
            left: 16%;
            width: 20%;
        }
        .rightHeading{
            position: absolute;
            top: 10%;
            .typedHeading{
                font-size: 5vw;
            }
            .typed-text {
                font-size: 2.5vw;
            }
            .typed-paragraph {
                line-height: 1.4;
                margin-top: 20px;
            }
        }
        .secondPage{
            min-height: 80vh;
        }
        .thirdPage{
            min-height: 80vh;
            .heading {
                font-size: 52px;
                font-weight: 700;
                text-align: center;
            }
            .dummyCard{
                width: 350px;
                height: 450px;
                margin-top: 2em !important;
            }
        }
        
        .fourthPage{
            min-height: 80vh;
            .dummyCard{
                width: 230px;
                height: 310px;
                background-color: aquamarine;
                border-radius: 12px;
            }
        }

        .fifthPage {
            min-height: 80vh;
            padding: 40px 0;

            .vision-mission {
              margin-top: 40px;
          
              .card {
                flex: 1;
                margin: 20px;
                padding: 20px;
                background-color: #fff;
                border-radius: 12px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                text-align: center;
          
                img {
                  width: 100px;
                  height: 100px;
                  border-radius: 50%;
                  margin-bottom: 20px;
                }
          
                h2 {
                  font-size: 24px;
                  margin-bottom: 10px;
                  color: #333;
                }
          
                p {
                  font-size: 16px;
                  line-height: 1.5;
                  color: #777;
                }
              }
            }
        }
    }
    
      
}