.Navbar {
    height: 3em;
    background-color: rgba(251,251,251,0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
    
    position: sticky;
    top: 0;

    .wasserstoffLogo {
        height: 2vw;
        margin-left: 2.3em;
    }

    .nav-items {
        height: 100%;
        align-items: center;
        margin-right: 10% !important;

        a {
            text-decoration: none;
            font-size: 0.9rem;
            padding: 3% 1%;
            white-space: pre;
            cursor: pointer;
        }
    
        .active {
            color: black;
            font-weight: 500;
            border-bottom: 4px solid blue;
            transition: all ease-in-out 300;
        }
    }
    @media screen and (min-width: 1600px) {
        height: 4.5em;
        .wasserstoffLogo {
            height: 2vw;
            margin-left: 4em;
        }
        .nav-items {
            a {
                text-decoration: none;
                font-size: 1.2rem;
                padding: 3% 1%;
                white-space: pre;
                cursor: pointer;
            }
        
            .active {
                color: black;
                font-weight: 500;
                border-bottom: 4px solid blue;
                transition: all ease-in-out 300;
            }
        }
    }
}
